<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dbinc.back_work.mapper.WorkMapper">

      <select id="selectWorkList" resultType="WorkVO">
           SELECT workID,
                     parentID,
                     workTitle,
                     workContent,
                     workState,
                     startDate,
                     finishDate
            FROM work;
      </select>
      
      <select id="selectIssueList" resultType="IssueVo">
      		SELECT issueID,
      			   workID,
      			   issueTitle,
      			   issueContent,
      			   issueState
      		FROM issue;
      </select>
      
      <insert id="insertWork" parameterType="WorkVO">
      INSERT INTO work (parentID, workTitle, workContent, workState, startDate, finishDate)
      values (#{parentID}, #{workTitle}, #{workContent}, #{workState}, #{startDate}, #{finishDate});
      </insert>
      
      <insert id="insertIssue" parameterType="IssueVO">
      INSERT INTO issue (workID,issueState,issueTitle, issueContent)
      values (#{workID}, #{issueState}, #{issueTitle}, #{issueContent});
      </insert>
     
      
      <select id="selectWorkById" resultType="WorkVO">
            SELECT workID,
                  parentID,
                  workTitle,
                  workContent,
                  workState,
                  startDate,
                  finishDate
             FROM work
             WHERE workID = #{workID};
      </select>
      
      <select id="selectIssueById" resultType="IssueVO">
      		SELECT issueID,
      			   workID,
      			   issueContent,
      			   issueTitle,
      			   issueState
      		FROM issue
      		WHERE issueID = #{issueID};
      </select>
      
      <update id="updateWorkState" parameterType = "WorkVO">
            UPDATE work
            SET workState = #{workState}
            WHERE workID = #{workID};
      </update>
      
      <update id="updateIssueState" parameterType = "IssueVO">
      		UPDATE issue
      		SET issueState = #{issueState}
      		WHERE issueID = #{issueID};
      </update>
      
      <update id="updateWork" parameterType = "WorkVO">
            UPDATE work
            SET workContent = #{workContent},
               workTitle = #{workTitle},
               startDate = #{startDate},
               finishDate = #{finishDate}
            WHERE workID = #{workID};
      </update>
      
      <update id="updateIssue" parameterType = "IssueVO">
      		UPDATE issue
      		SET issueContent = #{issueContent},
      			issueTitle = #{issueTitle}
      		WHERE issueID = #{issueID};
      </update>
      
      <delete id="deleteWorkById"> 
            DELETE
            FROM work
            WHERE workID = #{workID};
      </delete>
      
      <delete id="deleteIssueById">
      		DELETE
      		FROM issue
      		WHERE issueID = #{issueID};
      </delete>


</mapper>